<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/banners">Banners</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Banners</li>
    </ol>
</nav>
<hr>
{{!-- BOF breadcrumb --}}




<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                {{!-- <h6 class="mb-4">Add Coupons</h6> --}}
                <form act  ion="/admin/banners/edit/{{banner._id}}" method="post" id="addProducts_form">

                    <div class="row mb-3">
                        <label for="main_title" class="col-sm-2 col-form-label">Main Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="main_title" name="main_title" required value="{{banner.main_title}}" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="sub title" class="col-sm-2 col-form-label">Sub Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sub_title" name="sub_title" required value="{{banner.sub_title}}" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="image_url" class="col-sm-2 col-form-label">Image URL</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="image_url" name="image_url" required value="{{banner.image_url}}" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary m-2">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->