<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3 border">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="/" class="">
                        <h3 class="text-primary">YellOw </h3>
                    </a>
                     <h5>Register</h5>
                </div>
                <form action="/register" method="post" id="register_form">
                    {{# if userErr}}
                    <div class="alert alert-danger">{{userErr}}</div>
                    {{/if}}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" id="username" placeholder="jhondoe" />
                        <label for="floatingText">Username</label>
                        <div class="error" id="error_msg_username"> </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="email" id="email" placeholder="name@example.com" />
                        <label for="floatingInput">Email address</label>
                        <div class="error" id="error_msg_email"></div>
                    </div>
                    {{!-- {{#if existingData.email === email}}
                    <p class="text-center mb-0">{{req.session.registrationErr}}</p>
                    {{/if}} --}}

                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Mobile Number" />
                        <label for="floatingInput">Phone Number</label>
                        <div class="error" id="error_msg_phone"></div>
                    </div>

                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
                        <label for="floatingPassword">Password</label>
                        <div class="error" id="error_msg_password"></div>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="Password" />
                        <label for="floatingPassword">Confirm Password</label>
                        <div class="error" id="error_msg_password2"></div>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4" href="/">Register</button>
                    <p class="text-center mb-0">Already have an Account?
                        <a href="/login">Login</a>
                    </p>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="/js/registration.js"></script>