<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Product</h6>
                <form action="/admin/products/add-products" method="post" id="addProducts_form"
                    enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label for="product_name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="product_name" name="product_name" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="price" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="price" name="price" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="stock" name="stock" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="status" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" id="status" name="status"
                                aria-label="Default select example">
                                <option selected="">Open this select menu</option>
                                <option value="In Stock">In Stock</option>
                                <option value="Out Of Stock">Out Of Stock</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="image" class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="image" name="image" />
                        </div>
                    </div>

                    {{!-- <div class="row mb-3">
                        <label for="category" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="category_name" name="category_name" />
                        </div>
                    </div> --}}

                    {{!-- {{! ///new code }}
                    <div class="row mb-3">
                        <label for="image" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" id="category_name" name="category_name"
                                aria-label="Default select example">
                                <option selected="">Open this select menu</option>
                                {{#each categories}}
                                <option value="{{this._id}}">{{this.category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    {{! ///new code }} --}}
                    <div class="row mb-3">
                        <label for="category_name" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" id="category_name" name="category_name"
                                aria-label="Default select example">
                                <option selected="">Open this select menu</option>
                                {{#each categories}}
                                <option value="{{this._id}}">{{this.category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary m-2">Add New</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->