{{!-- BOF breadcrumb --}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/products">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Product</li>
    </ol>
</nav>
<hr>

{{!-- BOF breadcrumb --}}




<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Product</h6>
                <form action="/admin/products/add-products" method="post" id="addProducts_form" enctype="multipart/form-data">

                    <div class="row mb-3">
                        <label for="category_id" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" id="category_id" name="category_id" aria-required="" aria-label="Default select example">
                                {{#each categories}}
                                <option value="{{this._id}}">{{this.category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="product_name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="product_name" name="product_name" required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="slug" class="col-sm-2 col-form-label">slug</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="slug" name="slug" required oninput="validateSlug()" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="mrp" class="col-sm-2 col-form-label">MRP</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="mrp" name="mrp" required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="price" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="price" name="price" required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="stock" name="stock" required />
                        </div>
                    </div>

                    {{!-- <div class="row mb-3">
                        <label for="status" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <select class="form-select mb-3" id="status" name="status" required aria-label="Default select example">
                                <option value="In Stock">In Stock</option>
                                <option value="Out Of Stock">Out Of Stock</option>
                            </select>
                        </div>
                    </div> --}}

                    <div class="row mb-3">
                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            {{!-- <input type="text" class="form-control" id="discription" name="discription" required /> --}}
                            <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="image" class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="image" name="image" multiple>
                        </div>
                    </div>



                    <button type="submit" class="btn btn-primary m-2">Add New</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->
<script>
    function validateSlug() {
        var slugInput = document.getElementById('slug');
        var slug = slugInput.value.trim();

        // Regular expression to validate the slug (allowing lowercase letters, numbers, hyphens, and underscores)
        var slugPattern = /^[a-z0-9-_]+$/;

        if (!slugPattern.test(slug)) {
            // Display an error message
            slugInput.setCustomValidity('Invalid slug. Only lowercase letters, numbers, hyphens, underscores are allowed.');
        } else {
            // Clear the error message
            slugInput.setCustomValidity('');
        }
    }
</script>